.panel {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  width: 300px;
  background-color: salmon;
  opacity: 0;
  display: none;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}
.takePlace {
  display: block;
}
